body {
  background: #eee;
}
.App {
  margin: auto;
  font-family: "Avenir", "Arial", sans-serif;
  width: 600px;
}

.RoomContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ProductList {
  width: 265px;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 10px;
}

.ProductTitle {
  font-size: 1em;
  padding: 5px;
}

.ProductImage {
  width: 100%;
}
